Flask
Jinja2
Pillow
Werkzeug
blinker
click
flatbuffers
google-auth-oauthlib
google-auth
gunicorn
itsdangerous
protobuf
tensorboard
tensorboard-data-server
tensorflow
tensorflow-cpu
tensorflow-estimator
keras
setuptools
wheel
six
h5py
numpy
scipy
